
@{
    ViewBag.Title = "EditProfileByEMPID";
    Layout = "~/Views/Shared/LayoutPage1.cshtml";
}

<form action="/account/EditProfileByEmpID" method="post">
    <div class="form-row">
        <label for="txtempid">EMP ID: </label>
        <input type="text" name="EmpID" id="txtempid" />
    </div>
</form>

