
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/LayoutPage1.cshtml";
}
@if (Session["CurrentUserName"] == null)
{
    <a href="/Account/Login">Login</a>
}

@if (Session["CurrentUserName"] != null)
{
    <h2>Welcome,</h2>
    <h3>User</h3>
}

